.disc {

	&__wrap {
		position: relative;
		padding: 60px 0 110px;
		background: white url($path + 'img/discount-bg.jpg') no-repeat 100% 100%;
		background-size: cover;

		@include screen-xs() {
			padding: 60px 0 70px;
		}

		@include screen-sm() {
			width: 750px;
			padding: 120px 0 120px;
		}

		@include screen-md() {
			width: 800px;
			padding: 140px 0 140px;
		}

		@include screen-sm(max) {
			margin: 0;
			min-height: 100%;
		}
	}

	&__header,
	&__body {
		max-width: 500px;
		margin: 0 auto;

		@include screen-sm() {
			max-width: none;
			margin: 0;
		}
	}

	&__body {

		@include screen-sm() {
			padding: 15px;
		}

		@include screen-md() {
			padding: 15px 35px;
		}
	}

	&__close {
		display: block;
		position: absolute;
		width: 60px;
		height: 60px;
		right: 0;
		top: 0;
		cursor: pointer;

		&:hover,
		&:focus {

			&::before {
				background: url($path + 'img/icons.png') no-repeat -19px -46px;
			}
		}

		&::before {
			content: '';
			position: absolute;
			background: url($path + 'img/cross-bright.png') no-repeat;
			width: 17px;
			height: 17px;
			top: 50%;
			left: 50%;
			margin: -9px 0 0 -9px;
		}
	}

	&__title {
		font-weight: 300;
		color: $color-lightgray;
		font-family: $font-main-cond;
		margin: 0 0 .2em;
		font-size: 5rem;
		text-align: center;

		@include screen-sm() {
			font-size: 7rem;
		}
	}

	&__desc {
		margin-bottom: 4em;
		color: $color-lightgray;
		text-align: center;
	}

	&__link-wrap {
		position: absolute;
		left: 15px;
		right: 15px;
		bottom: 20px;
		text-align: center;

		@include screen-xs() {
			left: 30px;
			right: 30px;
		}

		@include screen-sm() {
			text-align: right;
		}

		@include screen-md() {
			left: 50px;
			right: 50px;
		}
	}

	&__link {
		color: $color-lighter;
		font-family: $font-main-cond;
		font-size: 1.8rem;
		margin-bottom: 10px;

		@include screen-xs() {
			display: inline-block;
			margin-bottom: 0;
			margin-right: 30px;
		}

		&:last-child {

			@include screen-xs() {
				margin-right: 0;
			}
		}

		a {
			color: $color-lighter;

			&:hover,
			&:focus {
				text-decoration: none;
				border-bottom: 1px solid $color-lighter;
			}
		}
	}
}