.banner {
	background: url($path + 'img/banner.jpg') no-repeat 50% 10%;
	background-size: cover;
	padding: 15em 0 1em;
	display: block;
	color: $color-main;

	&:hover,
	&:focus {
		text-decoration: none;
		color: $color-main;
	}

	@include screen-sm() {
		padding: 3em 0;
	}

	&__wrap {
		text-align: center;

		@include screen-sm() {
			text-align: right;
			width: 55%;
		}
	}

	&__title {
		margin: 0;
		font-family: $font-third;
		text-transform: uppercase;
		font-size: 7rem;
		text-shadow: 1px 1px 1px white;

		@include screen-sm() {
			font-size: 20rem;
		}
	}

	&__subtitle {
		font-family: $font-main-cond;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 3rem;
		margin: 0;
		text-shadow: 1px 1px 1px white;

		@include screen-sm() {
			font-size: 4.8rem;
			margin: 0 0 2em;
		}
	}

	&__desc {
		display: none;

		@include screen-sm() {
			display: block;
			margin: 0;
			text-align: center;
			text-transform: uppercase;
			font-size: 2.4rem;
			font-weight: 300;
			text-shadow: 1px 1px 1px white;
		}
	}
}