.btn-white {
	display: inline-block;
	height: 54px;
	text-decoration: none;
	border: 1px solid $color-lighter;
	padding: 0 3em;
	text-align: center;
	color: $color-main;

	&:hover {
		background-color: $color-lightgray;
		text-decoration: none;
	}

	&:hover,
	&:focus {
		color: $color-main;
	}

	&:active {
		background-color: $color-lighter;
	}

	&__text {
		line-height: 52px;
		font-family: $font-main;
		white-space: nowrap;
		display: inline-block;
		position: relative;
		padding-left: 35px;

		&::before {
			content: '';
			display: inline-block;
			width: 19px;
			height: 19px;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -9px;
			background: url($path + 'img/icons.png') no-repeat 0 -46px;
		}
	}

	&_active {
		background-color: $color-lightgray;
		text-decoration: none;
		color: $color-main;
	}

	&_wide {
		width: 100%;
	}

	&_bag {

		.btn-white {
			// =====

			&__text {

				&::before {
					width: 21px;
					height: 20px;
					background: url($path + 'img/bag.png');
				}
			}
		}
	}
}