.card {
	position: relative;
	width: 100%;
	display: block;
	cursor: pointer;

	&:hover,
	&:focus {

		.card {
			// =====

			&__i {
				opacity: 1;
				transition: none;
			}
		}
	}

	&__img {
		background: no-repeat 50% 50%;
		background-size: cover;
		width: 100%;
		padding-bottom: 160%;
		margin-bottom: 1em;

		@include screen-sm() {
			margin-bottom: 0;
		}
	}

	&__i {

		@include screen-sm() {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: rgba(255, 255, 255, .8);
			opacity: 0;
			transition: $duration / 2 ease-in;
			color: $color-main;
			padding: 10px;

			&:hover,
			&:focus {
				color: $color-main;
				text-decoration: none;
			}
		}
	}

	&__title {
		font-weight: bold;
		font-size: 1.8rem;
		margin: 0;

		@include screen-sm() {
			margin: 0 0 .7em;
		}
	}

	&__price {
		font-size: 1.8rem;
		margin: 0;
	}
}