.cat {
	width: 100%;
	text-align: center;

	&__img {
		display: block;
		width: 100%;
		padding-bottom: 100%;
		background: no-repeat 50% 50%;
		background-size: cover;
		margin: 0 0 1.5em;
	}

	&__wrap {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 3.4rem;
		margin: 0 0 .3em;
		color: $color-black;
	}

	&__desc {
		text-transform: uppercase;
		font-size: 1.4rem;
		margin: 0 0 1em;
	}
}