.cat {
	width: 100%;
	text-align: center;
	overflow: hidden;

	&__img-wrap {
		overflow: hidden;
		margin: 0 0 1.5em;
		position: relative;
		display: block;
	}

	&__img {
		display: block;
		width: 100%;
		padding-bottom: 100%;
		background: no-repeat 50% 50%;
		background-size: cover;
		transition: $duration ease;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: transparent;
			transition: $duration ease;
		}

		&:hover {

			@include screen-sm() {
				transform: scale(1.1);
			}

			&::after {

				@include screen-sm() {
					background: $color-fog-dark;
					transition: none;
				}
			}
		}
	}

	&__wrap {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 3.4rem;
		margin: 0 0 .3em;
		color: $color-black;

		&:hover {
			text-decoration: none;
		}
	}

	&__desc {
		text-transform: uppercase;
		font-size: 1.4rem;
		margin: 0 0 1em;
		width: 100%;
	}
}