.f-menu {
	list-style-type: none;
	padding: 0;
	text-align: center;

	&__item {
		display: none;

		@include screen-sm() {
			display: inline-block;
			margin-right: 2em;
		}

		&:first-child {
			display: inline-block;
		}

		&:last-child {

			@include screen-sm() {
				margin-right: 0;
			}
		}

		&._active {
			cursor: default;

			.f-menu {
				// =====

				&__link {
					color: $color-second;
				}
			}
		}
	}

	&__link {
		font-family: $font-second;
		color: $color-main;
		font-size: 1.3rem;
	}
}