.f-menu {
	list-style-type: none;
	padding: 0;
	text-align: center;

	&__item {
		display: inline-block;
		margin-right: 2em;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		font-family: $font-second;
		color: $color-main;
		font-size: 1.4rem;
	}
}