.f-menu {
	list-style-type: none;
	padding: 0;
	text-align: center;

	&__item {
		display: none;

		@include screen-sm() {
			display: inline-block;
			margin: .5em 2em .5em 0;
		}

		&:first-child {
			display: inline-block;
		}

		&:last-child {

			@include screen-sm() {
				margin-right: 0;
			}
		}

		&._active {

			.f-menu {
				// =====

				&__link {
					color: $color-second;

					&:hover,
					&:focus {
						border-bottom: none;
					}
				}
			}
		}
	}

	&__link {
		font-family: $font-second;
		color: $color-main;
		font-size: 1.3rem;

		&:hover,
		&:focus {
			text-decoration: none;
			border-bottom: 1px solid $color-second;
		}
	}
}