.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 50;

	&__wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px;
		height: $header-height-xs;

		@include screen-sm() {
			padding: 0 50px;
			height: $header-height;
		}
	}

	&__logo {
		width: 50px;

		@include screen-sm() {
			width: 110px;
		}

		@include screen-sm(max) {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	&__search {
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
	}

	&_ahead {
		z-index: 70;
	}
}