.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 15px;

	@include screen-xs() {
		padding: 20px 50px;
	}

	&__logo {
		width: 30px;
	}
}