.input {
	border: 1px solid $color-lighter;
	height: 54px;
	font-size: 1.4rem;
	padding: 16px 14px;
	color: $color-gray;
	-webkit-appearance: none;
	border-radius: 0;

	@include input-placeholder() {
		color: $color-gray;
	}

	@include input-autofill($color-gray, white);

	&_wide {
		width: 100%;
	}
}

textarea.input {
	height: 10em;
}