.links {
	text-align: center;

	&__item {
		display: inline-block;
		margin: .5em 20px;
		position: relative;
		line-height: 1.4;

		&::before,
		&::after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0;
			height: 100%;
			border-right: 1px solid $color-lightgray;
			pointer-events: none;
		}

		&::before {
			left: -20px;
		}

		&::after {
			right: -21px;
		}
	}
}