.menu {
	list-style-type: none;
	padding: 0;

	&__item {
		display: inline-block;
		margin-right: 1.7em;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		font-family: $font-second;
		font-size: 1.2rem;
		color: $color-main;
		text-transform: uppercase;
		display: block;
	}
}