.s-menu {
	list-style-type: none;
	padding: 0;

	&__item {
		vertical-align: middle;
		margin-right: .7em;
		display: none;

		@include screen-sm() {
			margin-right: 1.7em;
			display: inline-block;
		}

		&:last-child {
			margin-right: 0;
		}

		&_search {
			display: inline-flex;
			align-items: center;

			@include screen-sm() {
				display: inline-flex;
			}

			.s-menu {
				// =====

				&__link {
					width: 15px;
					height: 15px;
					background-image: url($path + 'img/search.png');

					&:hover,
					&:focus {
						background-image: url($path + 'img/search-hover.png');
					}
				}
			}
		}

		&_bag {
			display: inline-block;
			position: relative;

			.s-menu {
				// =====

				&__link {
					width: 21px;
					height: 20px;
					background-image: url($path + 'img/bag.png');

					&:hover,
					&:focus {
						background-image: url($path + 'img/bag-hover.png');
					}
				}
			}

			&.active {

				.s-menu {
					// =====

					&__link {

						&::after {
							content: '';
							display: inline-block;
							position: absolute;
							top: -2px;
							right: -3px;
							width: 7px;
							height: 7px;
							border-radius: 50%;
							background-color: $color-second;
							border: 2px solid white;
							box-sizing: content-box;
						}
					}
				}
			}
		}
	}

	&__link {
		font-family: $font-second;
		font-size: 1.2rem;
		color: $color-main;
		text-transform: uppercase;
		font-weight: 300;
		display: block;
	}

	&__search {
		font-size: 1.2rem;
		color: $color-main;
		font-family: $font-second;
		font-weight: 300;
		outline: none;
		border: none;
		border-bottom: 1px solid $color-gray;
		line-height: 1;
		padding: .5em;
		display: none;

		&::-webkit-input-placeholder {
			color: $color-main;
		}

		&::-moz-placeholder {
			color: $color-main;
		}

		&:-moz-placeholder {
			color: $color-main;
		}

		&:-ms-input-placeholder {
			color: $color-main;
		}
	}
}