.section {
	margin-bottom: 3em;

	&:last-child {
		margin-bottom: 0;
	}

	&__cat {
		margin: 0 auto 3em;
		max-width: 500px;

		@include screen-sm() {
			margin: 0 0 3em;
			max-width: none;
		}
	}

	&__card-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 15px;
	}

	&__card-i {
		margin-bottom: 3em;
		width: 100%;

		@include screen-xs() {
			width: 49%;
		}

		@include screen-sm() {
			width: 32%;
		}

		@include screen-md() {
			width: 24%;
		}

		@include screen-lg() {
			width: 19%;
		}
	}
}