.section {
	margin-bottom: 3em;


	&:last-child {
		margin-bottom: 0;
	}

	&__cat-wrap {
		margin: 0 -15px;

		@include screen-sm() {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__cat {
		margin: 0 auto 3em;
		padding: 0 15px;
		max-width: 500px;
		display: flex;
		flex-direction: column;

		@include screen-sm() {
			margin: 0 0 3em;
			max-width: none;
			width: 50%;
		}

		@include screen-md() {
			width: 33.333333%;
		}

		@include screen-lg() {
			width: 25%;
		}
	}

	&__card-wrap {
		display: flex;
		flex-wrap: wrap;
	}

	&__card-i {
		margin-bottom: 3em;
		width: 100%;
		padding: 0 15px;

		@include screen-xs() {
			width: 50%;
		}

		@include screen-sm() {
			width: 33.333333%;
			margin-bottom: 30px;
		}

		@include screen-md() {
			width: 25%;
		}

		@include screen-lg() {
			width: 20%;
		}
	}

	&__under-banner {
		text-align: center;
		font-size: 14px;
		padding-right: 15px;
		padding-left: 15px;
	}

	&__searched {
		margin-bottom: 4em;
	}

	&__bag {
		margin-bottom: 4em;
	}

	&__input {
		margin-bottom: 40px;
	}

	&__slider {
		margin-bottom: 4rem;
	}

	&__links {
		margin: 1em 0;

		@include screen-md() {
			display: none;
		}
	}
}