.soc {
	background-color: $color-black;
	color: white;
	display: inline-block;
	border-radius: 50%;
	height: 2em;
	width: 2em;
	line-height: 2;
	text-align: center;

	&:hover,
	&:focus {
		background-color: $color-gray;
		color: white;
	}
}