.text {

	h1 {
		font-size: 1.6rem;
		font-family: $font-main;
		font-weight:bold;
	}

	h2 {
		font-size: 1.4rem;
		font-family: $font-main;
		font-weight:bold;
	}

	p {
		font-size: 1.4rem;
		font-family: $font-main;
		font-weight: 300;
	}
}