.toggle {
	padding: 10px;
	cursor: pointer;

	&:hover,
	&:focus {

		.toggle {
			// =====

			&__line {
				background-color: $color-second;
			}
		}
	}

	&__line {
		display: block;
		height: 2px;
		width: 22px;
		background-color: $color-main;
		margin: 4px 0;
		transition: $duration ease transform, $duration / 2 opacity;
		opacity: 1;
	}

	&_active {

		.toggle {
			// =====

			&__line {
				background-color: $color-second;

				&:nth-child(1) {
					transform: translate(0px, 6px) rotate(-45deg);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					transform: translate(0px, -6px) rotate(45deg);
				}
			}
		}
	}
}