.item {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-top: 30px;

	&__col {
		padding: 0 15px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include screen-lg() {
			width: 33.333333%;
		}

		&_1 {

			@include screen-sm() {
				width: 100%;
			}

			@include screen-lg() {
				order: 2;
			}
		}

		&_2 {

			@include screen-sm() {
				width: 50%;
			}

			@include screen-lg() {
				order: 1;
			}
		}

		&_3 {

			@include screen-sm() {
				width: 50%;
			}

			@include screen-lg() {
				order: 3;
			}
		}
	}

	&__wrap {

		@include screen-xs() {
			width: 70%;
			margin: 0 auto;
		}
	}

	&__i {
		margin-bottom: 30px;
	}

	&__desc {
		display: none;

		@include screen-sm() {
			display: block;
		}
	}

	&__price {
		font-size: 1.8rem;
	}

	&__gallery {
		margin-bottom: 30px;

		@include screen-sm() {
			width: 70%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__btn {
		margin-bottom: 10px;
	}

	&__white-btn {

		@include screen-sm() {
			display: none;
		}
	}

	&__sm-desc {
		display: none;

		@include screen-sm() {
			font-family: $font-main;
			font-weight: normal;
			font-size: 1.4rem;
			display: block;
			margin: 15px 0 10px;
		}
	}

	&__overview {
		display: none;
		padding: 15px;
		border: 1px solid $color-lighter;
		border-top: 0;
		font-size: 1.4rem;
	}

	&__title {
		font-family: $font-main-cond;
		font-weight: 500;
		font-size: 1.6rem;
		margin: 0;
	}
}