.s-menu {
	list-style-type: none;
	padding: 0;

	&__item {
		vertical-align: middle;
		margin-right: .7em;
		display: none;

		@include screen-sm() {
			margin-right: 1.7em;
			display: inline-block;
		}

		&:last-child {
			margin-right: 0;
		}

		&_search {
			display: inline-flex;
			align-items: center;

			@include screen-sm() {
				display: inline-flex;
			}

			.s-menu {
				// =====

				&__link {
					width: 15px;
					height: 15px;
					background: url($path + 'img/icons.png') -42px -26px;

					&:hover,
					&:focus {
						background-position: -57px -26px;
					}
				}
			}
		}

		&_bag {
			display: inline-block;
			position: relative;

			.s-menu {
				// =====

				&__link {
					width: 21px;
					height: 20px;
					background-image: url($path + 'img/icons.png');

					&:hover,
					&:focus {
						background-position: -21px 0px;
					}
				}
			}

			&.active {

				.s-menu {
					// =====

					&__link {

						&::after {
							content: '';
							display: inline-block;
							position: absolute;
							top: -2px;
							right: -3px;
							width: 7px;
							height: 7px;
							border-radius: 50%;
							background-color: $color-second;
							border: 2px solid white;
							box-sizing: content-box;
						}
					}
				}
			}
		}
	}

	&__link {
		font-family: $font-second;
		font-size: 1.2rem;
		color: $color-main;
		text-transform: uppercase;
		display: block;
	}

	&__search {
		font-size: 1.2rem;
		font-family: $font-second;
		outline: none;
		border: none;
		border-bottom: 1px solid $color-gray;
		line-height: 1;
		padding: .5em;
		display: none;

		@include input-placeholder() {
			color: $color-gray;
		}
	}
}