mixin banner(data, num)
	each val, index in data
		if index == num
			.banner(class= val.mainClass)
				.banner__wrap(class= val.wrapClass)
					if val.title
						h2.banner__title= val.title
					if val.smTitle
						h2.banner__sm-title= val.smTitle
					if val.subtitle
						h3.banner__subtitle= val.subtitle
					if val.desc
						p.banner__desc= val.desc