mixin f-menu(data)
	ul.f-menu(class = attributes.class)

		each val in data
			li.f-menu__item
				if val.link
					a.f-menu__link(href= val.link)= val.name
				else
					span.f-menu__link= val.name