mixin insta(data)
	.insta(class= attributes.class)
		a.insta__img(href=data.link style="background-image: url('img/" + data.img + "');")
		a.btn-border(href=data.link)
			i.fa.fa-instagram
			| Instagram