mixin s-menu(data)
	ul.s-menu
		each val in data
			li.s-menu__item(class= val.modItem ? 's-menu__item_' + val.modItem : '')
				if val.modal
					a.s-menu__link(href= val.link data-toggle='modal' data-target= '#' + val.modal)= val.name
				else
					a.s-menu__link(href= val.link)= val.name

				if val.modItem == 'search'
					input.s-menu__search(type='text' placeholder='SEARCH')