include ../mixins/card
include ../mixins/pag

.section
	h1.title.title_space Bodies
	.container-fluid
		.half
			.half__item
				.video(data-id='c8IA44a-7rs')
			.half__item
				.text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aliquid animi architecto consequuntur debitis dolores eaque eius eos expedita id illum modi necessitatibus non, pariatur possimus quo ratione repudiandae vel, velit. Accusantium alias dolore dolores et minima modi nesciunt obcaecati, optio praesentium quis reiciendis veniam veritatis voluptatibus. Accusantium alias animi aperiam aspernatur atque beatae commodi consequatur consequuntur corporis debitis deleniti dolores et excepturi explicabo fugiat, in laborum minima molestiae molestias, nam nobis

.section
	.section__card-wrap
		each item in card
			.section__card-i
				+card(item)
	+pag(5, 1)