.section
	.container
		h1.title.title_space Certificate
		.cert
			p.cert__desc Подарочный сертификат - идеальный вариант сделать приятное любимому человеку.
				br
				|Вы сразу получите на почту сертификат на любую, выбранную вами сумму.
				br
				|Сможете его мгновенно переслать получателю или распечатать как красивый купон и вручить лично.
			.cert__wrap
				img.cert__img(src='img/certificate.jpg')
				textarea.input.cert__text(placeholder='Текст')
				input.input.cert__sum(type='text' placeholder='Сумма')
				input.button.cert__btn(type='submit' value='Отправить')