.section
	.container-fluid
		.banner.banner_contact
			.banner__wrap.banner__wrap_space
				h1.banner__title contact
.section
	p.section__under-banner Please e-mail us at
		span care@lovelyeva.com
		| if you can’t find an answer to your question in our FAQ. We will get back to you as soon as possible.