section.customer
	.container
		h1 customer care
		nav
			ul
				li
					a(href="#") Shipping & Returns
				li
					a(href="#") Payments
				li
					a(href="#") Subscribe
				li
					a(href="#") FAQ
				li
					a(href="#") Legal Statement
				li
					a(href="#") Contact