.section
	.vert-center
		.container
			h1.title.title_space customer care
			ul.list
				li.list__item
					a.list__link(href="#") Shipping & Returns
				li
					a(href="#") Payments
				li
					a(href="#") Subscribe
				li
					a(href="#") FAQ
				li
					a(href="#") Legal Statement
				li
					a(href="#") Contact