.section
	.container
			h1.title.title_space faq

			input.input.input_wide(type="text" placeholder="SEARCH FAQ")

			#accord.accord
				// 1
				.panel.accord__panel
					.accord__head
						a.accord__title(data-toggle='collapse', data-parent='#accord', href='#accordOne') How can I find out how to sell Lovely Eva products in my store?
					#accordOne.panel-collapse.collapse
						.accord__body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda cupiditate distinctio dolores eaque exercitationem harum, illo ipsam iusto, laudantium minima modi, odio optio provident qui ratione tempore tenetur?
				// 2
				.panel.accord__panel
					.accord__head
						a.accord__title(data-toggle='collapse', data-parent='#accord', href='#accordTwo') Do you sell your boxes and bags?
					#accordTwo.panel-collapse.collapse
						.accord__body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda cupiditate distinctio dolores eaque exercitationem harum, illo ipsam iusto, laudantium minima modi, odio optio provident qui ratione tempore tenetur?

				// 3
				.panel.accord__panel
					.accord__head
						a.accord__title(data-toggle='collapse', data-parent='#accord', href='#accord-3') Do you sell scraps or pieces of fabric?
					#accord-3.panel-collapse.collapse
						.accord__body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda cupiditate distinctio dolores eaque exercitationem harum, illo ipsam iusto, laudantium minima modi, odio optio provident qui ratione tempore tenetur?
				// 4
				.panel.accord__panel
					.accord__head
						a.accord__title(data-toggle='collapse', data-parent='#accord', href='#accord-4') Do you sell 2nd quality products?
					#accord-4.panel-collapse.collapse
						.accord__body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda cupiditate distinctio dolores eaque exercitationem harum, illo ipsam iusto, laudantium minima modi, odio optio provident qui ratione tempore tenetur?
				// 5
				.panel.accord__panel
					.accord__head
						a.accord__title(data-toggle='collapse', data-parent='#accord', href='#accord-5') How can I order a custom Lovely Eva?
					#accord-5.panel-collapse.collapse
						.accord__body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda cupiditate distinctio dolores eaque exercitationem harum, illo ipsam iusto, laudantium minima modi, odio optio provident qui ratione tempore tenetur?
				// 6
				.panel.accord__panel
					.accord__head
						a.accord__title(data-toggle='collapse', data-parent='#accord', href='#accord-6') Can I change the address for my purchase?
					#accord-6.panel-collapse.collapse
						.accord__body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda cupiditate distinctio dolores eaque exercitationem harum, illo ipsam iusto, laudantium minima modi, odio optio provident qui ratione tempore tenetur?

				// 7
				.panel.accord__panel
					.accord__head
						a.accord__title(data-toggle='collapse', data-parent='#accord', href='#accord-7') Is my wrap damaged?
					#accord-7.panel-collapse.collapse
						.accord__body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda cupiditate distinctio dolores eaque exercitationem harum, illo ipsam iusto, laudantium minima modi, odio optio provident qui ratione tempore tenetur?
				// 8
				.panel.accord__panel
					.accord__head
						a.accord__title(data-toggle='collapse', data-parent='#accord', href='#accord-8') How does the sizing of Lovely Eva wraps work?
					#accord-8.panel-collapse.collapse
						.accord__body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda cupiditate distinctio dolores eaque exercitationem harum, illo ipsam iusto, laudantium minima modi, odio optio provident qui ratione tempore tenetur?

				// 9
				.panel.accord__panel
					.accord__head
						a.accord__title(data-toggle='collapse', data-parent='#accord', href='#accord-9') Where are Lovely Eva products made?
					#accord-9.panel-collapse.collapse
						.accord__body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda cupiditate distinctio dolores eaque exercitationem harum, illo ipsam iusto, laudantium minima modi, odio optio provident qui ratione tempore tenetur?

				// 10
				.panel.accord__panel
					.accord__head
						a.accord__title(data-toggle='collapse', data-parent='#accord', href='#accord-10') How do I care for my Lovely Eva products?
					#accord-10.panel-collapse.collapse
						.accord__body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda cupiditate distinctio dolores eaque exercitationem harum, illo ipsam iusto, laudantium minima modi, odio optio provident qui ratione tempore tenetur?
				// 11
				.panel.accord__panel
					.accord__head
						a.accord__title(data-toggle='collapse', data-parent='#accord', href='#accord-11') Do you offer special discounts to lending libraries and educators?
					#accord-11.panel-collapse.collapse
						.accord__body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda cupiditate distinctio dolores eaque exercitationem harum, illo ipsam iusto, laudantium minima modi, odio optio provident qui ratione tempore tenetur?

				// 12
				.panel.accord__panel
					.accord__head
						a.accord__title(data-toggle='collapse', data-parent='#accord', href='#accord-12') How can I track my order?
					#accord-12.panel-collapse.collapse
						.accord__body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda cupiditate distinctio dolores eaque exercitationem harum, illo ipsam iusto, laudantium minima modi, odio optio provident qui ratione tempore tenetur?

				// 13
				.panel.accord__panel
					.accord__head
						a.accord__title(data-toggle='collapse', data-parent='#accord', href='#accord-13') Where do you deliver?
					#accord-13.panel-collapse.collapse
						.accord__body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda cupiditate distinctio dolores eaque exercitationem harum, illo ipsam iusto, laudantium minima modi, odio optio provident qui ratione tempore tenetur?

				// 14
				.panel.accord__panel
					.accord__head
						a.accord__title(data-toggle='collapse', data-parent='#accord', href='#accord-14') Do I need to sign for my package?
					#accord-14.panel-collapse.collapse
						.accord__body
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda cupiditate distinctio dolores eaque exercitationem harum, illo ipsam iusto, laudantium minima modi, odio optio provident qui ratione tempore tenetur?