.section
	.banner
		.banner__wrap
			h1.banner__title Spring
			h2.banner__subtitle New collection
			p.banner__desc New collections with fresh scents of springs

.section
	h3.sm-title Categories
	.container-fluid
		.row
			.col-sm-4
				.cat.section__cat
					.cat__img.cat__img_1
					h4.cat__title Bodies
					p.cat__desc Sharp gear for any occasion
					a.cat__btn(href="#") Shop now
			.col-sm-4
				.cat.section__cat
					.cat__img.cat__img_2
					h4.cat__title Lingerie
					p.cat__desc Styles for the vertically blessed
					a.cat__btn(href="#") Shop now
			.col-sm-4
				.cat.section__cat
					.cat__img.cat__img_3
					h4.cat__title T-Shirts
					p.cat__desc When comfort meets cool
					a.cat__btn(href="#") Shop now