include ../mixins/cat
include ../mixins/links
include ../mixins/insta

.section
	.container-fluid
		+links(menu)(class='visible-xs visible-sm')

		.banner.banner_img_1
			.banner__wrap
				h1.banner__title Spring
				h2.banner__subtitle New collection
				p.banner__desc New collections with fresh scents of springs

.section
	.container-fluid
		h3.title.title_big.title_space Categories
		.section__cat-wrap
			each val in cat
				+cat(val)(class='section__cat')

.section
	.container
		h3.title.title_big.title_space Super girls choice Lovely Eva
		.slider.section__slider
			each val in insta
				+insta(val)(class='slider__insta')