include ../mixins/cat
include ../mixins/links
include ../mixins/insta
include ../mixins/banner

.section
	.container-fluid
		+links(menu)(class='visible-xs visible-sm')
		+banner(banner, 0)

.section
	.container-fluid
		h3.title.title_big.title_space Categories
		.section__cat-wrap
			each val in cat
				+cat(val)(class='section__cat')

.section
	.container
		h3.title.title_big.title_space Super girls choice Lovely Eva
		.slider.section__slider
			each val in insta
				+insta(val)(class='slider__item')