include ../mixins/cat
include ../mixins/links
include ../mixins/insta
include ../mixins/banner
include ../mixins/video

.section
	.container-fluid
		+links(menu)(class='section__links')

	h1.hidden-title Lovely Eva
	+banner(banner, 2)
	//+video('dKIRh-B55yw')

.section
	.container-fluid
		h3.title.title_big.title_space Categories
		.section__cat-wrap
			each val in cat
				+cat(val)(class='section__cat')

.section
	.container
		h3.title.title_big.title_space Super girls choice Lovely Eva
		.slider.section__slider
			each val in insta
				+insta(val)(class='slider__item')