include ../mixins/card
include ../mixins/tab-size
include ../mixins/tab-color
include ../mixins/tab-shorts

.section
	.item
		.item__col.item__col_1
			.gallery.item__gallery
				div(data-thumb='img/card-1.jpg')
					.gallery__img-wrap
						img.gallery__img(src="img/cat-1.jpg")
				div(data-thumb='img/card-2.jpg')
					.gallery__img-wrap
						img.gallery__img(src="img/card-2.jpg")
				div(data-thumb='img/card-3.jpg')
					.gallery__img-wrap
						img.gallery__img(src="img/cat-3.jpg")

		.item__col.item__col_2
			.item__wrap
				.item__i
					h1.title Lace-trim Satin Robe
					p.item__price 150 руб.
				.item__i.item__desc
					p No closure 34½" from shoulder; hits above knee Allover satin with lace trim at sleeves and hem Imported polyester/nylon
					p No closure 34½" from shoulder; hits above knee Allover satin with lace trim at sleeves and hem Imported polyester/nylon
				.item__i
					+tab-shorts()

		.item__col.item__col_3
			.item__wrap
				.item__i
					+tab-color()
				.item__i
					+tab-size()

				a.button.button_wide.item__btn(href='#') add to cart
				a#iBtn.btn-white.btn-white_wide.item__white-btn(href='#')
					span.btn-white__text Item overview
				p.item__sm-desc Orders are shipped within 24 hours
					br
					| Shipping is by courier company

.section
	.container
		h3.title.title_big.title_space You might be interested
		.slider.section__slider
			each item in card
				+card(item)(class='slider__item')