.section.slick
	.container-fluid
		.col-md-4
			h1 Lace-trim Satin Robe
			.slick__left
				p.slick__price € 150
				p.slick__description No closure
					br
					| 34½" from shoulder; hits above knee
					br
					| Allover satin with lace trim at sleeves and hem
					br
					| Imported polyester/nylon
				p INFO
				p It’s love at first touch with this silky-soft robe, in smooth satin edged with scalloped lace.
				p Black Romantic colo
				ul.tabrow
					li.grey
						a(href='#')
					li.black
						a(href='#')
					li.pink
						a(href='#')
		.col-md-4
			.slider-for
				.slick-slide 1
				.slick-slide 2
			.slick-element
				.slick-slide
					img(src='../img/mini-icon-1.png')
				.slick-slide
					img(src='../img/mini-icon-2.png')
		.col-md-4
			.slick__size
				p.slick__size_title Choose youar size:
				ul.tab-size
					li xs
					li s
					li m
					li l
				p.slick__inform Size information
				button.slick__add add to card
				p Orders are shipped within 24 hours Shipping is by courier company

