.section.slick
	.container-fluid
		.col-md-4.col-md-push-4
			section.slider
				div(data-thumb='/img/mini-icon-1.png')
					img(src='/img/cat-1.jpg')
				div(data-thumb='/img/mini-icon-2.png')
					img(src='/img/cat-2.jpg')
		.col-md-4.col-md-pull-4.satin-low
			h1 Lace-trim Satin Robe
			.slick__left
				p.slick__price € 150
				p.slick__description No closure
					br
					| 34½" from shoulder; hits above knee
					br
					| Allover satin with lace trim at sleeves and hem
					br
					| Imported polyester/nylon
				p INFO
				p It’s love at first touch with this silky-soft robe, in smooth satin edged with scalloped lace.
				p Black Romantic colo
				ul.tabrow
					li.grey
						a(href='#')
					li.black
						a(href='#')
					li.pink
						a(href='#')
		.col-md-4
			.slick__size
				p.slick__size_title Choose youar size:
				ul.tab-size
					li xs
					li s
					li m
					li l
				p.slick__inform Size information
				button.slick__add add to card
				button.slick__white
					img(src='/img/overview.png')
					| item overview
				p Orders are shipped within 24 hours Shipping is by courier company

