.section
	.item

		.item__col.item__col_1
			.slider.item__slider
				div(data-thumb='img/card-1.jpg')
					img(src='img/card-1.jpg')
				div(data-thumb='img/card-2.jpg')
					img(src='img/card-2.jpg')
				div(data-thumb='img/card-3.jpg')
					img(src='img/card-3.jpg')

		.item__col.item__col_2
			.item__wrap
				.item__i
					h1.title Lace-trim Satin Robe
					p.item__price 150 руб.
				.item__i.item__desc
					p No closure 34½" from shoulder; hits above knee Allover satin with lace trim at sleeves and hem Imported polyester/nylon
					p No closure 34½" from shoulder; hits above knee Allover satin with lace trim at sleeves and hem Imported polyester/nylon
				.item__i
					.tab-color.section__tab-color
						p.tab-color__title Black romantic color
						.tab-color__wrap
							.tab-color__item.tab-color__item_grey
							.tab-color__item.tab-color__item_black
							.tab-color__item.tab-color__item_pink

		.item__col.item__col_3
			.item__wrap
				.tab-size.item__tab-size
					p.tab-size__title Choose your size:
					ul.tab-size__wrap
						li.tab-size__item xs
						li.tab-size__item s
						li.tab-size__item m
						li.tab-size__item l
					a.tab-size__info(href='#') Size information
					a.button.button_wide.tab-size__btn(href='#') add to cart
					a#iBtn.btn-white.btn-white_wide.tab-size__white-btn(href='#')
						span.btn-white__text Item overview
					p.tab-size__desc Orders are shipped within 24 hours
						br
						| Shipping is by courier company