section.legal.text
	.container
		h1 legal statement
		p  Lovely Eva established in The Netherlands, identified by Dutch Chamber of Commerce registration number: 57904758, (‘Lovely Eva’) owns all right, title and interest to the website: www.lovelyeva.com, (‘the Website’).
		h2 Copyright
		p  The Website contains information protected by intellectual property rights in force. Intellectual property rights concerning documents included on the website and any item created for this website are the sole property of Lovely Eva.Lovely Eva does not grant any licence or any right other than the right to consult the Website. No part of the Website may be copied, reproduced, republished, uploaded, posted, transmitted or distributed in any manner whatsoever, except for personal and private use, without the prior written consent of Lovely Eva. This prohibition also includes framing any content from the Website, as well as unauthorized linking.
		p  Lovely Eva creations are protected by Dutch Law. As such, they are also protected by Community Law and International Law. The use of our products or part of our products to establish Derivative Work for commercial exploitation is not allowed.We understand that Derivative Works regarding babywearing products are being made. Until further notice we will allow ONLY the following products to be made, and sold ONLY under the following conditions:
		ul Products that we allow:
			li – bodies
			li – lingerie
			li – t-shirts
		p  Under the conditions:
		p  A) the trademark Lovely Eva cannot be used on the products or in reference to the products.
		p  B) the Lovely Eva  branded labels must be removed from the derivative work.
		p Any Derivative Work that does not reasonably fit into one of the two above mentioned product categories is not allowed and will be considered a copyright or trademark infringement (only exceptions: Cin by Cindy Jeurissen, Ocah, Obimama).
		p Derivative Work that is made only with the intent of personal use by the maker and not shown to others outside the regular family circle is allowed. (Facebook groups, public Facebook posts, personal/business websites, Etsy business pages, and blogs are not considered as regular family circles).
		p We believe that despite good intentions, Derivative Work can be harmful to the Lovely Eva brand. We are within our right to claim the law of Derivative Works in order to protect our reputation and quality. After January 15, 2016, when purchasing an Lovely Eva product, challenging this statement, or creating a Derivative Work, you are waiving your right to choose jurisdiction regarding this matter and are consenting to jurisdiction in the appropriate Dutch venue.
		p *Lovely Eva reserves the right to change the above conditions at any time it deems appropriate without prior notice.
		h2 Limitation on liability
		p Use of and browsing in the Website are at your own risk. Lovely Eva endeavours to ensure, as far as possible, that the information published on the Website is accurate and up-to-date and it reserves the right to correct or change the content at any time without notice. However, Lovely Eva cannot guarantee the accuracy, precision or comprehensive nature of the information made available on the website. Lovely Eva is not bound by any error or mistake in prices or other information that is presented on the website.
		ul Lovely Eva shall not be liable:
			li — for any unavailability of the website;
			li — for occurrence of any errors;
			li — for any inaccuracy or omission relating to information available on the website;
			li — for any damage resulting from interference by a third party leading to a modification of the information made available on the website or any inability to access the website.
		h2 Privacy
		p Through its website, www.lovelyeva.com, Lovely Eva will process privacy-sensitive or personal data. Lovely Eva values the privacy of its customers and observes due care in processing and protecting personal data. Artipoppe processes data in compliance with the requirements laid down by the Dutch Personal Data Protection Act (DPDA). Lovely Eva does not outsource any of its data processing. In this privacy statement, Artipoppe will explain which personal data is collected and for which purposes. It is recommended that you read it carefully.