button(type='button', data-toggle='modal', data-target='#myModal') Launch demo modal

.modal.fade.sign#myModal
	.sign__wrap
		a.sign__cross(href='#', data-dismiss="modal")
		.sign__header
			.sign__close(data-dismiss="modal")
			p.sign__descr sign in
		.sign__body
			.col-sm-6.col-sm-push-6
				form.sign__second-form
					p already registered?
					input.input.input_light.form__input(type="text" placeholder="E-mail")
					input.input.input_light.form__input.sign__password(type="text" placeholder="password")
					button sign in
					a(href='#') Forgot your password?
				.sign__dotted
			.col-sm-6.col-sm-pull-6
				form.sign__first-form
					p create an account
					p Please enter your email address to create an account
					input.input.input_light.form__input(type="text" placeholder="E-mail")
					button create account
