button(type='button', data-toggle='modal', data-target='#myModal') Launch demo modal

.modal.fade.sign#myModal.width_modal
	.modal-dialog.sign__wrap.custom_modal
		a.cross(href='#', data-dismiss="modal")
		.sign__header
			.sign__close(data-dismiss="modal")
			p.sign__descr sign in
		.sign__body
			.col-sm-6.col-sm-push-6
				form.second_form
					p ALREADY REGISTERED?
					input.input.input_light.form__input(type="text" placeholder="E-mail")
					input.input.input_light.form__input.form__password(type="text" placeholder="password")
					button sign in
					a(href='#') Forgot your password?
				.border_dotted
			.col-sm-6.col-sm-pull-6
				form.first_form
					p CREATE AN ACCOUNT
					p Please enter your email address to create an account
					input.input.input_light.form__input(type="text" placeholder="E-mail")
					button create account
