.section
	.vert-center
		.container
			.searched.section__searched
				h1.title.title_space.searched__title You searched for “bla! bla! bla!”
				p.searched__desc No results were found for your search