.section
	.payments
		.container
			h1  payments
			p   Our checkout process allows Mastercard, Visa, American Express and Discovery cards as payment methods. Payments will be processed in the selected currency. your account statement, payments might show up under the name ‘Buckaroo’ – our payment provider of choice.
			br
			p   To help ensure that your shopping experience is safe and secure Lovely Eva uses Secure Socket Layer (SSL) technology. This encrypts and protects the data you send to us over the internet. If SSL is enabled then you will see a padlock at the top of your browser and you can click on this to find out information about the SSL digital certificate registration. You will also notice that when you look at the location (URL) field at the top of the browser you will see it begin with ‘https:’ instead of the normal ‘http:’. This means that you are in secure mode.