section.payments
	.container
		p   Our checkout process allows Mastercard, Visa, American Express and Discovery cards as payment methods. Payments will be processed in the selected currency.
		| your account statement, payments might show up under the name ‘Buckaroo’ – our payment provider of choice.