include ../mixins/card

.section
	.searched.section__searched
		h1.title.title_space.searched__title You searched for “bodies”
		p.searched__desc 12 results have been found
	.section__card-wrap
		each item in card
			.section__card-i
				+card(item)