.section.text
	.container
		h1.title.title_space  shipping & returns
		p Purchases from Lovely Eva are shipped within 24 hours (business days). When purchasing a product at shop.artipoppe.com you will be given the opportunity to select a carrier of choice. For most countries PostNL as well as Fedex is available. For a limited set of countries only Fedex is available as the preferred carrier. In case you have specific questions regarding the carrier of use please contact us.

		p Displayed shipping rates are based on the address details available in your account or as submitted when checking out as a guest customer. Shipping rates are weight based and include VAT when shipping to countries within the EU.
		h2 Tracking information
		p As soon as we have shipped your order you will receive an email that contains a link to the website with tracking information. Registered users can also check the status of their orders in ‘My Account’.
		p When shipping across EU borders, we make use of Electronic Trade Documents in order to optimize the Customs Clearing Process. In exceptional cases, customs clearing can delay the planned delivery up to 30 days. This is beyond our control. In general, the tracking information as provided is accurate and up to date.
		h2 Taxes & Duties
		p To ensure that pricing, taxes and delivery costs are displayed accurately, we recommend that you create an account and visit us as a registered customer. Since our firm is based in the Netherlands, all customers within the EU are shown prices with Dutch VAT included. For customers outside the EU, prices will be displayed excluding VAT. As a non-EU recipient, you are liable for all import duties, customs and local sales taxes levied by the country you are shipping to; payment of these is necessary to release your order from customs on arrival.
		p Customers from the United States are serviced Delivery Duties Paid (DDP). This means Lovely Eva will take care of applicable customs and duties. Read more about ordering from the United States.
		h2 returns
		p When you buy something from Lovely Eva, we hope you love it. However, should you change your mind, subject to the conditions set out below, you may return your item(s) for a refund.
		h2 Return Policy
		ul
			li – Returns need to be announced to sales@artipoppe.com within 14 days after receiving your order. Please include the order number and item title name(s) in your email.
			li – Returns need to be delivered to a courier or postal service within 28 days after receiving your order
		h2 lovely eva reserves the right to refuse returns that are:
		ul
			li – Not announced to Lovaly Eva within 14 days after you have received your order.
			li – Shipped to Lovely Eva after 28 days after you have received your order.
		h2 Please note:
		ul
			li – Unwanted items must to be returned in a re-saleable condition. With that in mind, please return all original packaging, including the booklet and other accessories, and return all items undamaged.
			li – Make sure the items are returned in the same condition you received them in, including booklet and other accessories.
			li – You can make use of any courier or postal service to get the returned items delivered to us. This is at your own cost and risk.
			li – If your return does not meet the required conditions, we will not be able to issue the refund and the package will be sent back to you
			li – Any refund will at maximum be the amount that you have paid to Lovely Eva. We will not reimburse any taxes or duties paid to local governments. Nor will Lovely Eva reimburse shipping costs that are made for the return shipping.
			li – Faulty items can be returned at any time. Should you receive a faulty item please contact us at info@artipoppe.com stating your order number and the nature of the fault.

		br
		p Returns can be sent to:
		p Lovely Eva
		p Nieuwe Rijksweg 66C
		p 4128 BN  Lexmond
		p The Netherlands





