.section
	.container
		h1.title.title_space.title_big Съёмки
		.shooting
			.shooting__sizer
			.shooting__item.shooting__item_2x
				.shooting__wrap
					.shooting__img(style="background-image: url(img/shooting/01/shooting-1-03.jpg);")
					a.shooting__i(href="#")
						p.shooting__title YES!
						p.shooting__desc Сентябрь 2016
			.shooting__item
				.shooting__wrap
					.shooting__img(style="background-image: url(img/shooting/02/shooting-2-04.jpg);")
					a.shooting__i(href="#")
						p.shooting__title Lovely Eva
						p.shooting__desc Анисия Кузьмина
			.shooting__item.shooting__item_2x-vert
				.shooting__wrap
					.shooting__img(style="background-image: url(img/shooting/05/shooting-5-01.jpg);")
					a.shooting__i(href="#")
						p.shooting__title Lovely Eva
						p.shooting__desc Тата Сироткина и Ольга Яцина
			.shooting__item
				.shooting__wrap
					.shooting__img(style="background-image: url(img/shooting/03/shooting-3-06.jpg);")
					a.shooting__i(href="#")
						p.shooting__title Lovely Eva
						p.shooting__desc Максим Баев
			.shooting__item.shooting__item_2x-horiz
				.shooting__wrap
					.shooting__img(style="background-image: url(img/shooting/06/shooting-6-06.jpg); background-position-y: 5%;")
					a.shooting__i(href="#")
						p.shooting__title Lovely Eva
						p.shooting__desc Федор Битков
			.shooting__item.shooting__item_2x-horiz
				.shooting__wrap
					.shooting__img(style="background-image: url(img/shooting/04/shooting-4-01.jpg); background-position-y: 15%;")
					a.shooting__i(href="#")
						p.shooting__title Римская история