.section
	.container
		h1.title.title_space.title_big YES!
		.shooting.img-popup
			.shooting__sizer
			.shooting__item.shooting__item_2x-horiz
				.shooting__wrap
					.shooting__img(style="background-image: url(img/shooting/01/shooting-1-03.jpg); background-position-y: 0;")
					a.shooting__i(href="img/shooting/01/shooting-1-03.jpg")
			.shooting__item.shooting__item_3x
				.shooting__wrap
					.shooting__img(style="background-image: url(img/shooting/01/shooting-1-02.jpg);")
					a.shooting__i(href="img/shooting/01/shooting-1-02.jpg")
			.shooting__item.shooting__item_2x-horiz
				.shooting__wrap
					.shooting__img(style="background-image: url(img/shooting/01/shooting-1-01.jpg); background-position-y: 0;")
					a.shooting__i(href="img/shooting/01/shooting-1-01.jpg")
			.shooting__item
				.shooting__wrap
					.shooting__img(style="background-image: url(img/shooting/01/shooting-1-04.jpg); background-position-y: 0;")
					a.shooting__i(href="img/shooting/01/shooting-1-04.jpg")
			.shooting__item
				.shooting__wrap
					.shooting__img(style="background-image: url(img/shooting/01/shooting-1-05.jpg); background-position-y: 0;")
					a.shooting__i(href="img/shooting/01/shooting-1-05.jpg")