.section
	.vert-center
		.container
			h1.title.title_space shopping bag
			table.shopping_bag
				tbody
					tr
						td.shopping_bag__img
							img(src="img/card-2.jpg")
						td.shopping_bag__cell.shopping_bag__width
							p Argus signature Newborn Sargasso
							br
							p Color: black
							p Size: S

						td.shopping_bag__amount
							select.select
								option(value) 1
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
						td
							.shopping_bag__bag
								img(src="img/icon-basket.png")
						td.shopping_bag__cell
							span 5000$
					.shopping_bag__dots
					tr
						td.shopping_bag__img
							img(src="img/card-2.jpg")
						td.shopping_bag__cell.shopping_bag__width
							p Argus signature Newborn Sargasso
							br
							p Color: black
							p Size: S

						td.shopping_bag__amount
							select.select
								option(value) 1
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
						td
							.shopping_bag__bag
								img(src="img/icon-basket.png")
						td.shopping_bag__cell
							span 5000$
					.sign__dot

					tr
						td.shopping_bag__order-summ(colspan="2")
							p Promotional code
							input.section__promo-input(type="text" placeholder="CHARMPROMO17")
						td.shopping_bag__price(colspan="2")
							span order summary:
								p Shipping:

