.cert {
	text-align: center;
	margin-bottom: 70px;

	@include screen-xs() {
		margin-bottom: 0;
	}

	&__desc {
		margin-bottom: 20px;
		font-size: 1.4rem;
		line-height: 2;
	}

	&__wrap {
		display: block;
		position: relative;
		background: url($path + 'img/certificate-1.jpg') no-repeat 0 0;
		background-size: cover;
		height: 500px;

		@include screen-sm() {
			height: 0;
			padding-bottom: 71.6%;
		}
	}

	&__mid {
		position: absolute;
		top: 53%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		text-align: center;
		padding: 0 15px;

		@include screen-xs() {
			width: 60%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		@include screen-sm() {
			top: 45%;
			width: 44%;
		}

		@include screen-md() {
			top: 53%;
		}
	}

	&__title {
		color: $color-lightgray;
		font-family: $font-main-cond;
		line-height: 1;
		margin: 1em 0;
		font-size: 2rem;

		@include screen-md() {
			font-size: 3rem;
		}
	}

	&__big-title {
		color: $color-lightgray;
		font-family: $font-main-cond;
		line-height: 1;
		margin: 1em 0;
		font-size: 4rem;

		@include screen-md() {
			font-size: 8rem;
		}
	}

	&__sum {
		font-size: 3rem;
		color: $color-lightgray;
		text-align: center;
		font-weight: 600;
		margin-bottom: .5em;
		margin-top: .5em;
		background-color: transparent;
		border: none;
		border-bottom: 2px solid rgba(255, 255, 255, .4);
		width: 100%;
		padding-top: 0;
		padding-bottom: 0;
		height: auto;

		@include screen-md() {
			font-size: 5rem;
		}
	}

	&__btn {

		@include screen-md(max) {
			padding: 0 2em;
			height: 45px;
			line-height: 45px;
		}
	}

	&__bot {
		position: absolute;
		bottom: 30px;
		left: 0;
		width: 100%;
		padding: 0 15px;

		@include screen-xs() {
			text-align: right;
			bottom: 65px;
		}
	}

	&__item {
		font-family: $font-main-cond;
		font-size: 1.7rem;
		color: $color-lightgray;

		@include screen-xs() {
			display: inline-block;
			margin-right: 3.5em;
		}

		@include screen-sm() {
			margin-right: 4.5em;
		}
	}

	&__link {
		color: $color-lightgray;
	}
}