.tab-size {
	font-family: $font-main-cond;
	font-weight: 300;
	font-size: 1.6rem;
	text-align: center;

	&__wrap {
		position: relative;
		list-style-type: none;
		padding-left: 0;
		margin: 0 0 15px;
	}

	&__item {
		font-family: $font-main;
		border: 1px solid $color-lighter;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-transform: uppercase;
		font-size: 1.6rem;
		user-select: none;
		cursor: pointer;
		margin-right: 15px;
		display: inline-block;

		&:last-child {
			margin-right: 0;
		}

		&.selected {
			background: $color-lighter;
			color: white;
		}
	}

	&__info {
		margin-top: 30px;
		text-align: center;
		width: 340px;
		text-decoration: underline;
		cursor: pointer;
		color: $color-main;
	}
}