.tab-color {

	&__title {
		font-size: 1.2rem;
		margin: 0;
	}

	&__wrap {
		text-align: center;
	}

	&__item {
		position: relative;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		cursor: pointer;
		box-shadow: 0 0 4px $color-main;
		display: inline-block;
		margin: 10px;

		&_white {
			background: white;
		}

		&_grey {
			background: $color-tab-1;
		}

		&_black {
			background: $color-black;
		}

		&_pink {
			background: $color-tab-2;
		}

		&.selected {
			box-shadow: inset 0 0 7px $color-main;
		}
	}
}