.tab-color {

	&__desc {
		font-size: 1.2rem;
		margin: 0;
	}

	&__wrap {
		text-align: center;
	}

	&__item {
		position: relative;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		cursor: pointer;
		display: inline-block;
		margin: 10px;
		border: 1px solid $color-lighter;

		&.selected {
			border-color: $color-second;
		}
	}
}