/* FontAwesome */
@font-face {
	font-family: 'fontawesome';
	src: url($path + 'fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0');
	src: url($path + 'fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
	url($path + 'fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
	url($path + 'fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
	url($path + 'fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
	url($path + 'fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* ========== */

/* Bootstrap */
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url($path + 'fonts/bootstrap/glyphicons-halflings-regular.eot');
	src: url($path + 'fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
	url($path + 'fonts/bootstrap/glyphicons-halflings-regular.woff2') format('woff2'),
	url($path + 'fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
	url($path + 'fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
	url($path + 'fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/* ========== */

/* ProximaNova */
@font-face {
	font-family: 'ProximaNova';
	src: url($path + 'fonts/ProximaNova/Light/ProximaNova-Light.eot');
	src: url($path + 'fonts/ProximaNova/Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
	url($path + 'fonts/ProximaNova/Light/ProximaNova-Light.woff2') format('woff2'),
	url($path + 'fonts/ProximaNova/Light/ProximaNova-Light.woff') format('woff'),
	url($path + 'fonts/ProximaNova/Light/ProximaNova-Light.ttf') format('truetype'),
	url($path + 'fonts/ProximaNova/Light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url($path + 'fonts/ProximaNova/LightItalic/ProximaNova-LightIt.eot');
	src: url($path + 'fonts/ProximaNova/LightItalic/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
	url($path + 'fonts/ProximaNova/LightItalic/ProximaNova-LightIt.woff2') format('woff2'),
	url($path + 'fonts/ProximaNova/LightItalic/ProximaNova-LightIt.woff') format('woff'),
	url($path + 'fonts/ProximaNova/LightItalic/ProximaNova-LightIt.ttf') format('truetype'),
	url($path + 'fonts/ProximaNova/LightItalic/ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'ProximaNova';
	src: url($path + 'fonts/ProximaNova/Bold/ProximaNova-Bold.eot');
	src: url($path + 'fonts/ProximaNova/Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
	url($path + 'fonts/ProximaNova/Bold/ProximaNova-Bold.woff2') format('woff2'),
	url($path + 'fonts/ProximaNova/Bold/ProximaNova-Bold.woff') format('woff'),
	url($path + 'fonts/ProximaNova/Bold/ProximaNova-Bold.ttf') format('truetype'),
	url($path + 'fonts/ProximaNova/Bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url($path + 'fonts/ProximaNova/BoldItalic/ProximaNova-BoldIt.eot');
	src: url($path + 'fonts/ProximaNova/BoldItalic/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
	url($path + 'fonts/ProximaNova/BoldItalic/ProximaNova-BoldIt.woff2') format('woff2'),
	url($path + 'fonts/ProximaNova/BoldItalic/ProximaNova-BoldIt.woff') format('woff'),
	url($path + 'fonts/ProximaNova/BoldItalic/ProximaNova-BoldIt.ttf') format('truetype'),
	url($path + 'fonts/ProximaNova/BoldItalic/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
	font-weight: bold;
	font-style: italic;
}
/* ========== */

/* ProximaNovaCond */
@font-face {
	font-family: 'ProximaNovaCond';
	src: url($path + 'fonts/ProximaNovaCond/Regular/ProximaNovaExCn-Regular.eot');
	src: url($path + 'fonts/ProximaNovaCond/Regular/ProximaNovaExCn-Regular.eot?#iefix') format('embedded-opentype'),
	url($path + 'fonts/ProximaNovaCond/Regular/ProximaNovaExCn-Regular.woff2') format('woff2'),
	url($path + 'fonts/ProximaNovaCond/Regular/ProximaNovaExCn-Regular.woff') format('woff'),
	url($path + 'fonts/ProximaNovaCond/Regular/ProximaNovaExCn-Regular.ttf') format('truetype'),
	url($path + 'fonts/ProximaNovaCond/Regular/ProximaNovaExCn-Regular.svg#ProximaNovaExCn-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaCond';
	src: url($path + 'fonts/ProximaNovaCond/RegularItalic/ProximaNovaExCn-RegularIt.eot');
	src: url($path + 'fonts/ProximaNovaCond/RegularItalic/ProximaNovaExCn-RegularIt.eot?#iefix') format('embedded-opentype'),
	url($path + 'fonts/ProximaNovaCond/RegularItalic/ProximaNovaExCn-RegularIt.woff2') format('woff2'),
	url($path + 'fonts/ProximaNovaCond/RegularItalic/ProximaNovaExCn-RegularIt.woff') format('woff'),
	url($path + 'fonts/ProximaNovaCond/RegularItalic/ProximaNovaExCn-RegularIt.ttf') format('truetype'),
	url($path + 'fonts/ProximaNovaCond/RegularItalic/ProximaNovaExCn-RegularIt.svg#ProximaNovaExCn-RegularIt') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'ProximaNovaCond';
	src: url($path + 'fonts/ProximaNovaCond/Light/ProximaNovaExCn-Light.eot');
	src: url($path + 'fonts/ProximaNovaCond/Light/ProximaNovaExCn-Light.eot?#iefix') format('embedded-opentype'),
	url($path + 'fonts/ProximaNovaCond/Light/ProximaNovaExCn-Light.woff2') format('woff2'),
	url($path + 'fonts/ProximaNovaCond/Light/ProximaNovaExCn-Light.woff') format('woff'),
	url($path + 'fonts/ProximaNovaCond/Light/ProximaNovaExCn-Light.ttf') format('truetype'),
	url($path + 'fonts/ProximaNovaCond/Light/ProximaNovaExCn-Light.svg#ProximaNovaExCn-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaCond';
	src: url($path + 'fonts/ProximaNovaCond/LightItalic/ProximaNovaExCn-LightIt.eot');
	src: url($path + 'fonts/ProximaNovaCond/LightItalic/ProximaNovaExCn-LightIt.eot?#iefix') format('embedded-opentype'),
	url($path + 'fonts/ProximaNovaCond/LightItalic/ProximaNovaExCn-LightIt.woff2') format('woff2'),
	url($path + 'fonts/ProximaNovaCond/LightItalic/ProximaNovaExCn-LightIt.woff') format('woff'),
	url($path + 'fonts/ProximaNovaCond/LightItalic/ProximaNovaExCn-LightIt.ttf') format('truetype'),
	url($path + 'fonts/ProximaNovaCond/LightItalic/ProximaNovaExCn-LightIt.svg#ProximaNovaExCn-LightIt') format('svg');
	font-weight: 300;
	font-style: italic;
}
/* ========== */

/* HelveticaNeueCyr */
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url($path + 'fonts/HelveticaNeueCyr/Roman/HelveticaNeueCyr-Roman.eot');
	src: url($path + 'fonts/HelveticaNeueCyr/Roman/HelveticaNeueCyr-Roman.woff2') format('woff2'),
	url($path + 'fonts/HelveticaNeueCyr/Roman/HelveticaNeueCyr-Roman.woff') format('woff'),
	url($path + 'fonts/HelveticaNeueCyr/Roman/HelveticaNeueCyr-Roman.ttf') format('truetype'),
	url($path + 'fonts/HelveticaNeueCyr/Roman/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg'),
	url($path + 'fonts/HelveticaNeueCyr/Roman/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url($path + 'fonts/HelveticaNeueCyr/Italic/HelveticaNeueCyr-Italic.eot');
	src: url($path + 'fonts/HelveticaNeueCyr/Italic/HelveticaNeueCyr-Italic.woff2') format('woff2'),
	url($path + 'fonts/HelveticaNeueCyr/Italic/HelveticaNeueCyr-Italic.woff') format('woff'),
	url($path + 'fonts/HelveticaNeueCyr/Italic/HelveticaNeueCyr-Italic.ttf') format('truetype'),
	url($path + 'fonts/HelveticaNeueCyr/Italic/HelveticaNeueCyr-Italic.svg#HelveticaNeueCyr-Italic') format('svg'),
	url($path + 'fonts/HelveticaNeueCyr/Italic/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url($path + 'fonts/HelveticaNeueCyr/Light/HelveticaNeueCyr-Light.eot');
	src: url($path + 'fonts/HelveticaNeueCyr/Light/HelveticaNeueCyr-Light.woff2') format('woff2'),
	url($path + 'fonts/HelveticaNeueCyr/Light/HelveticaNeueCyr-Light.woff') format('woff'),
	url($path + 'fonts/HelveticaNeueCyr/Light/HelveticaNeueCyr-Light.ttf') format('truetype'),
	url($path + 'fonts/HelveticaNeueCyr/Light/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg'),
	url($path + 'fonts/HelveticaNeueCyr/Light/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url($path + 'fonts/HelveticaNeueCyr/LightItalic/HelveticaNeueCyr-LightItalic.eot');
	src: url($path + 'fonts/HelveticaNeueCyr/LightItalic/HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
	url($path + 'fonts/HelveticaNeueCyr/LightItalic/HelveticaNeueCyr-LightItalic.woff') format('woff'),
	url($path + 'fonts/HelveticaNeueCyr/LightItalic/HelveticaNeueCyr-LightItalic.ttf') format('truetype'),
	url($path + 'fonts/HelveticaNeueCyr/LightItalic/HelveticaNeueCyr-LightItalic.svg#HelveticaNeueCyr-LightItalic') format('svg'),
	url($path + 'fonts/HelveticaNeueCyr/LightItalic/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype');
	font-weight: 300;
	font-style: italic;
}
/* ========== */

/* PlayfairDisplaySC */
@font-face {
	font-family: 'PlayfairDisplaySC';
	src: url($path + 'fonts/PlayfairDisplaySC/Regular/PlayfairDisplaySC-Regular.eot');
	src: url($path + 'fonts/PlayfairDisplaySC/Regular/PlayfairDisplaySC-Regular.eot?#iefix') format('embedded-opentype'),
	url($path + 'fonts/PlayfairDisplaySC/Regular/PlayfairDisplaySC-Regular.woff2') format('woff2'),
	url($path + 'fonts/PlayfairDisplaySC/Regular/PlayfairDisplaySC-Regular.woff') format('woff'),
	url($path + 'fonts/PlayfairDisplaySC/Regular/PlayfairDisplaySC-Regular.ttf') format('truetype'),
	url($path + 'fonts/PlayfairDisplaySC/Regular/PlayfairDisplaySC-Regular.svg#PlayfairDisplaySC-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PlayfairDisplaySC';
	src: url($path + 'fonts/PlayfairDisplaySC/Italic/PlayfairDisplaySC-Italic.eot');
	src: url($path + 'fonts/PlayfairDisplaySC/Italic/PlayfairDisplaySC-Italic.eot?#iefix') format('embedded-opentype'),
	url($path + 'fonts/PlayfairDisplaySC/Italic/PlayfairDisplaySC-Italic.woff2') format('woff2'),
	url($path + 'fonts/PlayfairDisplaySC/Italic/PlayfairDisplaySC-Italic.woff') format('woff'),
	url($path + 'fonts/PlayfairDisplaySC/Italic/PlayfairDisplaySC-Italic.ttf') format('truetype'),
	url($path + 'fonts/PlayfairDisplaySC/Italic/PlayfairDisplaySC-Italic.svg#PlayfairDisplaySC-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}
/* ========== */