html {
	font-size: 10px;
	height: 100%;
}

body {
	font-size: 1.6rem;
	height: 100%;
	font-family: $font-main;
	font-weight: 300;
	color: $color-main;
}

input,
textarea {
	-webkit-appearance: none;
	border-radius: 0;

	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
}

textarea {
	resize: none;
}

hr {
	margin: 0;
}

::selection {

}