$color-main:      black;
$color-second:    #ff295b;
$color-gray:      #7d7d7d;
$color-lighter:   #c9c9c9;
$color-lightgray: #dddddd;
$color-webcenter: #e96259;

$point-xs: 480px;
$point-sm: 768px;
$point-md: 992px;
$point-lg: 1200px;

//TODO Проверить все начертания шрифтов, походу часть не работает
$font-main:      'ProximaNova', sans-serif;       // 300, 300/italic, bold, bold/italic
$font-main-cond: 'ProximaNovaCond', sans-serif;   // normal, italic, 300, 300/italic
$font-second:    'HelveticaNeueCyr', sans-serif;  // normal, italic, 300, 300/italic
$font-third:     'PlayfairDisplaySC', sans-serif; // normal, italic
$font-fa:        'fontawesome';

$duration: .3s;
$header-height-xs: 50px;
$header-height:    100px;

$path: '../';

%clear {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

@mixin screen-xs($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-xs} - 1', 'min-width: #{$point-xs}')) {
		@content;
	}
}
@mixin screen-sm($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-sm} - 1', 'min-width: #{$point-sm}')) {
		@content;
	}
}
@mixin screen-md($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-md} - 1', 'min-width: #{$point-md}')) {
		@content;
	}
}
@mixin screen-lg($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-lg} - 1', 'min-width: #{$point-lg}')) {
		@content;
	}
}

@mixin input-placeholder() {

	&::-webkit-input-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&:-moz-placeholder {
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}
}