include ../mixins/menu
include ../mixins/s-menu

// HEADER
header.header
	.toggle.visible-xs
		span.toggle__line
		span.toggle__line
		span.toggle__line

	.header__left
		a.logo.header__logo(href="/")
			img.logo__img(src="img/logo.png")

	.header__center.hidden-xs.hidden-sm
		+menu(menu)

	.header__right
		+s-menu(sMenu)