// Модалка входа
.modal.fade.sign#sign
	.modal-dialog.sign__wrap
		.sign__header
			.sign__close(data-dismiss="modal")
			h4.sign__title sign in
		.sign__body
			.col-sm-6.col-sm-push-6
				form.form.sign__form
					h5.form__title already registered?
					p.form__desc Please enter your email and password to sign in
					input.input.form__input(type="text" placeholder="E-MAIL")
					input.input.form__input(type="text" placeholder="PASSWORD")
					input.button.form__btn(type="submit" value="sign in")
					a.form__link(href='#') Forgot your password?
				.sign__dot
			.col-sm-6.col-sm-pull-6
				form.form.sign__form
					h5.form__title create an account
					p.form__desc Please enter your email address to create an account
					input.input.form__input(type="text" placeholder="E-MAIL")
					input.button.button_pink.form__btn(type="submit" value="Create account")

// Модалка размеров
.modal.fade.prop#prop
	.modal-dialog.prop__wrap
		.prop__header
			.prop__close(data-dismiss="modal")
			h4.prop__title Proportions
		.prop__body
			table.prop__table
				tr
					td Обхват груди (см)
					td 78-82
					td 82-86
					td 86-90
					td 90-94
					td 94-98
					td 98-102
					td 102-106
					td 106-110
					td 110-114
					td 114-118
				tr
					td Обхват талии (см)
					td 58-62
					td 62-66
					td 66-70
					td 70-74
					td 74-78
					td 78-82
					td 82-86
					td 86-90
					td 90-94
					td 94-98
				tr
					td Обхват бедер (см)
					td 84-88
					td 88-92
					td 92-96
					td 96-100
					td 100-104
					td 104-108
					td 108-112
					td 112-116
					td 116-120
					td 120-124
				tr.prop__table-active
					td Российский размер (RUS)
					td 40
					td 42
					td 44
					td 46
					td 48
					td 50
					td 52
					td 54
					td 56
					td 58
				tr
					td Европа / Германия (EUR / GER)
					td 32
					td 34
					td 36
					td 38
					td 40
					td 42
					td 44
					td 46
					td 48
					td 50
				tr
					td Франция (FR)
					td 34
					td 36
					td 38
					td 40
					td 42
					td 44
					td 46
					td 48
					td 50
					td 52
				tr
					td Италия (IT)
					td 36
					td 38
					td 40
					td 42
					td 44
					td 46
					td 48
					td 50
					td 52
					td 54
				tr
					td США (USA)
					td 0
					td 2
					td 4
					td 6
					td 8
					td 10
					td 12
					td 14
					td 16
					td 18
				tr
					td Великобритания (UK)
					td 4
					td 6
					td 8
					td 10
					td 12
					td 14
					td 16
					td 18
					td 20
					td 22
				tr
					td Международный (INT)
					td XXS/XS
					td XS/S
					td S
					td M
					td L
					td L/XL
					td XL
					td XXL
					td XXL
					td XXXL
				tr
					td Европа (EUR2)
					td  
					td 0
					td 1
					td 2
					td 3
					td  
					td  
					td  
					td  
					td
				tr
					td Международный (BM)
					td T1
					td T1
					td T2
					td T2
					td T3
					td T3
					td T3
					td  
					td  
					td

// Модалка скидки
.modal.fade.disc#disc
	.modal-dialog.disc__wrap.disc__wrap_img_1
		.disc__header
			.disc__close(data-dismiss="modal")
		.disc__body
			.container-fluid
				.row
					.col-sm-8
						h4.disc__title Скидка 15%
						p.disc__desc в магазине боди и белья Lovely Eva
						form.inline-form
							.inline-form__item
								input.input.input_wide(type="text" placeholder="Ваш E-mail")
							.inline-form__item.inline-form__item_sm
								input.button.button_wide.button_pink(type="submit" value="Отправить")
			.disc__link-wrap
				p.disc__link
					a(href='/') www.lovelyeva.ru
				p.disc__link VK / Instagram:
					= ' '
					a(href='#' target='_blank') @o_lovely_eva

// Модалка связи
.modal.fade.contact#contact
	.modal-dialog.contact__wrap
		.contact__header
			.container-fluid
				.row
					.col-sm-8
						h4.contact__title Оставайтесь на связи
			.contact__close(data-dismiss="modal")
		.contact__body
			.container-fluid
				.row
					.col-sm-8
						p.contact__desc Чтобы первыми получить доступ к частным продажам и эксклюзивным скидкам!
						form.inline-form
							.inline-form__item
								input.input.input_wide(type="text" placeholder="Ваш E-mail")
							.inline-form__item.inline-form__item_sm
								input.button.button_wide.button_pink(type="submit" value="Отправить")