//TODO Перетащить шрифты и аякс-лоадер в соответствующие папки
.slick {

	&__satin-low {

		@include screen-md(max) {
			margin-top: 6em;
		}
	}

	p:nth-of-type(3) {
		margin-bottom: 20px;
	}

	p:nth-of-type(4) {
		line-height: 30px;
		margin-bottom: 45px;
	}

	p:nth-of-type(5) {
		margin-bottom: 20px;
	}

	&__price {
		margin-bottom: 40px;
	}

	&__description {
		margin-bottom: 45px;

		@include screen-md(max) {
			display: none;
		}
	}

	h1 {
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: bold;

		@include screen-md() {
			margin-top: 6em;
		}

		@include screen-lg() {
			margin-top: 0;
		}

	}

	@include screen-md(max) {
		p:nth-of-type(5) {
			margin-bottom: 30px;
		}

		&__price {
			margin-bottom: 15px;
		}
	}

	&__left {
		text-align: center;
		margin: auto;
		max-width: 350px;
		width: 100%;
		line-height: 25px;

		@include screen-md(max) {

			p {
				&:nth-of-type(3),
				&:nth-of-type(4) {
					display: none;
				}
			}
		}
	}

	&__add {
		width: 340px;
		height:56px;
		background: $color-main;
		border: none;
		text-transform: uppercase;
		color: white;
		margin-bottom: 30px;
		margin-top: 30px;

		@include screen-md(max) {
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	&__white {
		width: 340px;
		height:56px;
		background: white;
		border: 1px solid #bbbbbb;
		text-transform: uppercase;
		color: black;
		text-decoration: underline;
		margin-top: 10px;

		img {
			margin-right: 1em;
		}

		@include screen-sm() {
			display: none;
		}
	}

	&__size {
		display: flex;
		height: 590px;
		align-items: center;
		flex-wrap: wrap;
		padding-top: 14em;
		padding-bottom: 11em;
		justify-content: center;
		font-family: $font-main;


		p {
			&:last-child {
				width: 300px;
				text-align: center;
			}
		}

		@include screen-md(max) {
			padding-top: 2em;
			padding-bottom: 0;
			height: 300px;

			p {
				&:last-child {
					display: none;
				}
			}
		}

		@include screen-md() {
			padding-top: 6em;
		}

		@include screen-lg() {
			padding-bottom: 0;
		}
	}
}

.slick-slide img {
	width: 100%;
	max-width: 600px;
	margin: auto;

	@include screen-md(max) {
		width: 100%;
		max-width: 600px;

	}
}

.slick-dotted.slick-slider {
	width: 80%;
	margin: auto;
}

.slick-active a div{

	@include screen-md(max) {
		background: black !important;
	}
}


.dots-mobile {

	@include screen-md(max) {
		width: 10px;
		height: 10px !important;
		background: #dddddd !important;
		display: block;
		margin: auto;
		border-radius: 50%;
	}
}

.slick-dots {
	bottom: initial;
	margin-top: 10px;

	li {
		width: 50px;
		height: 50px;
	}

	img {
		width: 50px;
		height: 50px;
	}
}

.slick-next, .slick-next:focus {
	background: url($path + 'img/arrow-right-normal.png') no-repeat;
	right: -70px;
}

.slick-prev, .slick-prev:focus {
	background: url($path + 'img/arrow-left-normal.png') no-repeat;
	left: -70px;
}

.slick-next:hover {
	background: url($path + 'img/arrow-right-hover.png') no-repeat;
}

.slick-prev, .slick-next {
	height:30px;
}

.slick-prev:hover {
	background: url($path + '/img/arrow-left-hover.png') no-repeat;
}

.slick-next:before,
.slick-prev:before {
	display: none;
}

